---
// Lesson wrapper. Use inside an MDX lesson page to render section blocks
// for Hook / Concept / Lions example / Try it / Common mistakes / Quick check.
//
// Usage:
//   <Lesson>
//     <LessonSection title="Hook">...</LessonSection>
//     <LessonSection title="Concept">...</LessonSection>
//     ...
//   </Lesson>
---
<div class="lesson">
	<slot />
</div>
